body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5f416c;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

header .user-auth a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.result-container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

strong {
    color: #5f416c;
}

.back-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #5f416c;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #57266e;
}
